* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header.thePit {
    height: auto;
}

.headerContent.thePit {
    padding: 8rem 0 2.75rem;
    display: block;
    align-items: initial;
    width: 70%;
}

.headerContent.thePit .header_title {
    width: 100%;
    text-align: center;
}

.headerContent.thePit h1 {
    margin: 1rem 0 1.5rem;
}

.headerContent.thePit p {
    margin: 0 0 1rem

}

.headerContent.thePit {
    line-height: 2.5rem;
}


/* THE CONFERENCE */

.headerContent.thePit h3 {
    text-align: center;
    margin: 1rem, 0, .75rem;
}

