* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header.thePit {
    height: auto;
}

.headerContent.thePit {
    padding: 8rem 0 2.75rem;
    display: block;
    align-items: initial;
    width: 70%;
}

.headerContent.thePit .header_title {
    width: 100%;
    text-align: center;
}

.headerContent.thePit h1 {
    margin: 1rem 0 1.5rem;
}

.headerContent.thePit p {
    margin: 0 0 1rem

}

.headerContent.thePit {
    line-height: 2.5rem;
}


/* THE CONFERENCE */

.headerContent.thePit h3 {
    text-align: center;
    margin: 1rem, 0, .75rem;
}

.pdfs {
    height: 7rem;
    width: 95%;
    margin: 0 auto;
    text-align: center
}

.pdfs a {
    text-decoration: none;
    margin: 0 1rem 1rem;
    color: black;
    border-bottom: 1.5px solid black;
    padding-bottom: .5rem;
}

.pdfs a:hover {
    color: rgba( 28, 227, 125, 0.5 );
    border-color: rgba( 28, 227, 125, 0.5 );
}


