* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header.thePit {
    height: auto;
}

.headerContent.thePit {
    padding-top: 8rem;
    display: block;
    align-items: initial;
    width: 70%;
}

.headerContent.thePit .header_title {
    width: 100%;
    text-align: center;
}

.headerContent.thePit h1 {
    margin: 1.5rem 0;
}

.headerContent.thePit p {
    margin: 0 0 1rem

}

.headerContent.thePit {
    line-height: 2.5rem;
}

